<p id="notice"><%= notice %></p>
<div class="content">
  <div class="menu">
    <h1>Transactions</h1>
      <div class="flex">
        <div class="flex-container">
          <div><%= link_to 'Bank Draft', new_movement_account_path(movement_type: :bank_draft) %></div>
          <div><%= link_to 'Deposit', new_movement_account_path(movement_type: :deposit) %></div>
          <div><%= link_to 'Reversal', new_movement_account_path(movement_type: :reversal) %></div>
          <div><%= link_to 'Transfer', new_movement_account_path(movement_type: :transfer) %></div>
        </div>

        <div class="flex-container2">
          <table>
            <thead>
              <tr>
                <th>Account Origin</th>
                <th>Account Destiny</th>
                <th>Data</th>
                <th>Value</th>
                <th>Kind</th>
          <!--  <th>ID</th>
                <th>OTHER ID</th> -->
                <th colspan="3"></th>
              </tr>
            </thead>
            
            <tbody>
              <% @movement_accounts.each do |movement_account| %>
                <tr>
                  <td><%= movement_account.account.name %></td>
                  <td><%= movement_account.try(:account_destiny).try(:name) %></td>
                  <td><%= data_br(movement_account.movement_date) %></td>
                  <td><%= movement_account.format_value %></td>
                  <td><%= movement_account.movement_type.try(:humanize) %>
                  <td><% movement_account.account_id%>
                  <td><% movement_account.account_destiny_id%>
                  <td><% link_to 'Show', movement_account %></td>
                  <td><% link_to 'Destroy', movement_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        
      </div>
    <br>
    <div class="link">
      <strong>Data:</strong> <%= data_br(Date.today) %>
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>
